
.idea/
.DS_Store
.gradle/
TeamCode/build/
.gradle/4.4/fileHashes/fileHashes.bin
.gradle/4.4/fileHashes/fileHashes.lock
.gradle/4.4/javaCompile/classAnalysis.bin
.gradle/4.4/javaCompile/javaCompile.lock
.gradle/4.4/javaCompile/taskHistory.bin
.gradle/4.4/taskHistory/taskHistory.bin
.gradle/4.4/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.idea/workspace.xml
local.properties
FtcRobotController/build/generated/source/buildConfig/debug/com/qualcomm/ftcrobotcontroller/BuildConfig.java
FtcRobotController/build/generated/source/r/debug/com/google/blocks/R.java
FtcRobotController/build/generated/source/r/debug/com/qualcomm/ftccommon/R.java
FtcRobotController/build/generated/source/r/debug/com/qualcomm/ftcrobotcontroller/R.java
FtcRobotController/build/generated/source/r/debug/com/qualcomm/hardware/R.java
FtcRobotController/build/generated/source/r/debug/com/qualcomm/robotcore/R.java
FtcRobotController/build/generated/source/r/debug/com/qualcomm/WirelessP2p/R.java
FtcRobotController/build/generated/source/r/debug/org/firstinspires/inspection/R.java
FtcRobotController/build/intermediates/attr/R.txt
FtcRobotController/build/intermediates/classes/debug/com/google/blocks/R$array.class
FtcRobotController/build/intermediates/classes/debug/com/google/blocks/R$attr.class
FtcRobotController/build/intermediates/classes/debug/com/google/blocks/R$color.class
FtcRobotController/build/intermediates/classes/debug/com/google/blocks/R$dimen.class
FtcRobotController/build/intermediates/classes/debug/com/google/blocks/R$drawable.class
FtcRobotController/build/intermediates/classes/debug/com/google/blocks/R$id.class
FtcRobotController/build/intermediates/classes/debug/com/google/blocks/R$layout.class
FtcRobotController/build/intermediates/classes/debug/com/google/blocks/R$menu.class
FtcRobotController/build/intermediates/classes/debug/com/google/blocks/R$raw.class
FtcRobotController/build/intermediates/classes/debug/com/google/blocks/R$string.class
FtcRobotController/build/intermediates/classes/debug/com/google/blocks/R$style.class
FtcRobotController/build/intermediates/classes/debug/com/google/blocks/R$styleable.class
FtcRobotController/build/intermediates/classes/debug/com/google/blocks/R$xml.class
FtcRobotController/build/intermediates/classes/debug/com/google/blocks/R.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/ftccommon/R$array.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/ftccommon/R$attr.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/ftccommon/R$color.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/ftccommon/R$dimen.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/ftccommon/R$drawable.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/ftccommon/R$id.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/ftccommon/R$layout.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/ftccommon/R$menu.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/ftccommon/R$raw.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/ftccommon/R$string.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/ftccommon/R$style.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/ftccommon/R$styleable.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/ftccommon/R$xml.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/ftccommon/R.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/ftcrobotcontroller/BuildConfig.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/ftcrobotcontroller/R$array.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/ftcrobotcontroller/R$attr.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/ftcrobotcontroller/R$color.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/ftcrobotcontroller/R$dimen.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/ftcrobotcontroller/R$drawable.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/ftcrobotcontroller/R$id.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/ftcrobotcontroller/R$layout.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/ftcrobotcontroller/R$menu.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/ftcrobotcontroller/R$raw.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/ftcrobotcontroller/R$string.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/ftcrobotcontroller/R$style.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/ftcrobotcontroller/R$styleable.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/ftcrobotcontroller/R$xml.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/ftcrobotcontroller/R.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/hardware/R$array.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/hardware/R$attr.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/hardware/R$color.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/hardware/R$drawable.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/hardware/R$id.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/hardware/R$layout.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/hardware/R$raw.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/hardware/R$string.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/hardware/R$style.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/hardware/R$styleable.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/hardware/R$xml.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/hardware/R.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/robotcore/R$array.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/robotcore/R$attr.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/robotcore/R$color.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/robotcore/R$drawable.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/robotcore/R$id.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/robotcore/R$layout.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/robotcore/R$raw.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/robotcore/R$string.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/robotcore/R$style.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/robotcore/R$styleable.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/robotcore/R$xml.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/robotcore/R.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/WirelessP2p/R$color.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/WirelessP2p/R$string.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/WirelessP2p/R$style.class
FtcRobotController/build/intermediates/classes/debug/com/qualcomm/WirelessP2p/R.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/BasicOpMode_Iterative.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/BasicOpMode_Linear.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/ConceptCompassCalibration.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/ConceptDIMAsIndicator.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/ConceptI2cAddressChange.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/ConceptNullOp.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/ConceptRampMotorSpeed.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/ConceptRegisterOpModes.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/ConceptScanServo.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/ConceptTelemetry$1.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/ConceptTelemetry.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/ConceptVuforiaNavigation.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/ConceptVuforiaNavigationWebcam$1.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/ConceptVuforiaNavigationWebcam.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/ConceptVuforiaNavRoverRuckus.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/ConceptVuMarkIdentification.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/ConceptVuMarkIdentificationWebcam.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/HardwareK9bot.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/HardwarePushbot.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/HardwarePushbotMatrix.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/K9botTeleopTank_Linear.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/PushbotAutoDriveByEncoder_Linear.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/PushbotAutoDriveByGyro_Linear.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/PushbotAutoDriveByTime_Linear.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/PushbotAutoDriveToLine_Linear.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/PushbotTeleopPOV_Linear.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/PushbotTeleopTank_Iterative.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/SampleRevBlinkinLedDriver$DisplayKind.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/SampleRevBlinkinLedDriver.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorAdafruitRGB$1.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorAdafruitRGB$2.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorAdafruitRGB.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorBNO055IMU$1.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorBNO055IMU$2.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorBNO055IMU$3.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorBNO055IMU$4.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorBNO055IMU$5.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorBNO055IMU$6.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorBNO055IMU$7.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorBNO055IMU$8.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorBNO055IMU.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorBNO055IMUCalibration$1.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorBNO055IMUCalibration$2.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorBNO055IMUCalibration$3.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorBNO055IMUCalibration$4.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorBNO055IMUCalibration$5.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorBNO055IMUCalibration$6.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorBNO055IMUCalibration.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorColor$1.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorColor$2.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorColor.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorDigitalTouch.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorDIO.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorHTColor$1.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorHTColor$2.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorHTColor.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorHTGyro.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorKLNavxMicro.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorLEGOLight.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorLEGOTouch.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorMRColor$1.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorMRColor$2.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorMRColor.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorMRCompass.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorMRGyro.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorMRIrSeeker.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorMROpticalDistance.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorMRRangeSensor.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorREV2mDistance.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorREVColorDistance$1.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorREVColorDistance$2.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/external/samples/SensorREVColorDistance.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/internal/FtcOpModeRegister.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/internal/FtcRobotControllerActivity$1.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/internal/FtcRobotControllerActivity$2$1.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/internal/FtcRobotControllerActivity$2.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/internal/FtcRobotControllerActivity$3.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/internal/FtcRobotControllerActivity$4.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/internal/FtcRobotControllerActivity$5.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/internal/FtcRobotControllerActivity$6.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/internal/FtcRobotControllerActivity$7.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/internal/FtcRobotControllerActivity$8.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/internal/FtcRobotControllerActivity$RobotRestarter.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/internal/FtcRobotControllerActivity$SharedPreferencesListener.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/ftc/robotcontroller/internal/FtcRobotControllerActivity.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/inspection/R$array.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/inspection/R$attr.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/inspection/R$color.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/inspection/R$dimen.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/inspection/R$drawable.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/inspection/R$id.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/inspection/R$layout.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/inspection/R$menu.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/inspection/R$raw.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/inspection/R$string.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/inspection/R$style.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/inspection/R$styleable.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/inspection/R$xml.class
FtcRobotController/build/intermediates/classes/debug/org/firstinspires/inspection/R.class
FtcRobotController/build/intermediates/incremental/compileDebugAidl/dependency.store
FtcRobotController/build/intermediates/incremental/debug-mergeJniLibs/merge-state
FtcRobotController/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
FtcRobotController/build/intermediates/incremental/mergeDebugShaders/merger.xml
FtcRobotController/build/intermediates/incremental/packageDebugAssets/merger.xml
FtcRobotController/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
FtcRobotController/build/intermediates/incremental/packageDebugResources/merged.dir/values-sw720dp-land-v13/values-sw720dp-land-v13.xml
FtcRobotController/build/intermediates/incremental/packageDebugResources/merged.dir/values-w820dp-v13/values-w820dp-v13.xml
FtcRobotController/build/intermediates/incremental/packageDebugResources/merged.dir/values/values.xml
FtcRobotController/build/intermediates/incremental/packageDebugResources/merger.xml
FtcRobotController/build/intermediates/intermediate-jars/debug/classes.jar
FtcRobotController/build/intermediates/intermediate-jars/debug/res.jar
FtcRobotController/build/intermediates/javaPrecompile/debug/annotationProcessors.json
FtcRobotController/build/intermediates/manifests/aapt/debug/AndroidManifest.xml
FtcRobotController/build/intermediates/manifests/aapt/debug/output.json
FtcRobotController/build/intermediates/manifests/full/debug/AndroidManifest.xml
FtcRobotController/build/intermediates/manifests/full/debug/output.json
FtcRobotController/build/intermediates/packaged_res/debug/drawable-hdpi-v4/ic_launcher.png
FtcRobotController/build/intermediates/packaged_res/debug/drawable-mdpi-v4/ic_launcher.png
FtcRobotController/build/intermediates/packaged_res/debug/drawable-xhdpi-v4/ic_launcher.png
FtcRobotController/build/intermediates/packaged_res/debug/drawable-xhdpi-v4/icon_menu.png
FtcRobotController/build/intermediates/packaged_res/debug/drawable-xhdpi-v4/icon_robotcontroller.png
FtcRobotController/build/intermediates/packaged_res/debug/drawable-xxhdpi-v4/ic_launcher.png
FtcRobotController/build/intermediates/packaged_res/debug/layout/activity_ftc_controller.xml
FtcRobotController/build/intermediates/packaged_res/debug/menu/ftc_robot_controller.xml
FtcRobotController/build/intermediates/packaged_res/debug/values-sw720dp-land-v13/values-sw720dp-land-v13.xml
FtcRobotController/build/intermediates/packaged_res/debug/values-w820dp-v13/values-w820dp-v13.xml
FtcRobotController/build/intermediates/packaged_res/debug/values/values.xml
FtcRobotController/build/intermediates/packaged_res/debug/xml/app_settings.xml
FtcRobotController/build/intermediates/packaged_res/debug/xml/device_filter.xml
FtcRobotController/build/intermediates/packagedAssets/debug/FTC_2016-17.dat
FtcRobotController/build/intermediates/packagedAssets/debug/FTC_2016-17.xml
FtcRobotController/build/intermediates/packagedAssets/debug/RelicVuMark.dat
FtcRobotController/build/intermediates/packagedAssets/debug/RelicVuMark.xml
FtcRobotController/build/intermediates/packagedAssets/debug/RoverRuckus.dat
FtcRobotController/build/intermediates/packagedAssets/debug/RoverRuckus.xml
FtcRobotController/build/intermediates/packagedAssets/debug/StonesAndChips.dat
FtcRobotController/build/intermediates/packagedAssets/debug/StonesAndChips.xml
FtcRobotController/build/intermediates/res/symbol-table-with-package/debug/package-aware-r.txt
FtcRobotController/build/intermediates/symbols/debug/R.txt
FtcRobotController/build/intermediates/transforms/mergeJniLibs/debug/__content__.json
FtcRobotController/build/outputs/logs/manifest-merger-debug-report.txt
TeamCode/build/intermediates/incremental/debug-mergeJavaRes/merge-state
TeamCode/build/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
TeamCode/build/intermediates/incremental/packageDebug/tmp/debug/file-input-save-data.txt
TeamCode/build/intermediates/incremental/packageDebug/tmp/debug/zip-cache/YAyPT1hXamce4lVZJyZHpDHA3l8=
TeamCode/build/intermediates/manifests/full/debug/AndroidManifest.xml
TeamCode/build/intermediates/res/debug/resources-debug.ap_
TeamCode/build/intermediates/transforms/dexBuilder/debug/__content__.json
TeamCode/build/intermediates/transforms/dexMerger/debug/__content__.json
TeamCode/build/intermediates/transforms/externalLibsDexMerger/debug/0/classes.dex
TeamCode/build/intermediates/transforms/mergeJavaRes/debug/__content__.json
TeamCode/build/outputs/apk/debug/TeamCode-debug.apk
TeamCode/build/intermediates/incremental/debug-mergeJavaRes/merge-state
TeamCode/build/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
TeamCode/build/intermediates/incremental/packageDebug/tmp/debug/file-input-save-data.txt
TeamCode/build/intermediates/incremental/packageDebug/tmp/debug/zip-cache/YAyPT1hXamce4lVZJyZHpDHA3l8=
TeamCode/build/intermediates/manifests/full/debug/AndroidManifest.xml
TeamCode/build/intermediates/res/debug/resources-debug.ap_
TeamCode/build/intermediates/transforms/dexBuilder/debug/__content__.json
TeamCode/build/intermediates/transforms/dexMerger/debug/__content__.json
TeamCode/build/intermediates/transforms/externalLibsDexMerger/debug/0/classes.dex
TeamCode/build/intermediates/transforms/mergeJavaRes/debug/__content__.json
TeamCode/build/outputs/apk/debug/TeamCode-debug.apk
